DJANGO_SECRET_KEY=change-this-in-production
DEBUG=True
ALLOWED_HOSTS=*
DB_NAME=finance.db
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123!
